body {
    background-color: #1d1d1d;
    color: #EFEFEF;
    font-family: "Stack Sans Notch", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    font-size: 1.5rem;
    font-weight: 400;
}

.description {
    font-size: 1rem;
    font-weight: 100;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1rem;
    font-weight: 400;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    font-size: .75rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.index-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

}

.intro-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 5rem;
}

.intro-video-section {
    display: flex;
    border-radius: 20px;
    background-image: url(images/san-vicente-background.png);
    flex-grow: 1;
    padding: 5rem;
    background-position: center;
    background-size: cover;
}

.intro-video-container video {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.intro-technical-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    margin: 5rem;
}

.technical-skills-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 1200px;
}

.technical-skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #1b1913;
    margin-left: 1.5rem;
    width: 150px;
    height: 120px;
}


.technical-skill-box img {
    width: 100px;
    height: 100px;
}

.technical-skill-box.autocad img {
    width: 100px;
    height: 60px;
}

.technical-skill-box.matlab img {
    width: 75px;
    height: 75px;
}

.technical-skill-box.onshape img {
    width: 100px;
    height: 30px;
}

.technical-skill-box.html img {
    width: 60px;
    height: 60px;
}

.technical-skill-box.c img {
    width: 90px;
    height: 90px;
}

.intro-projects-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 10px #1b1913;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-container:hover {
    transform: translateY(-10px);
}

.project-image-container img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.project-overview {
    padding-left: 1.5rem;
}

.header.contact {
    margin-top: 5rem;
}

.contact-links {
    display: flex;
    flex-direction: row;
}

.description.contact {
    padding-left: 2rem;
}