body {
    background-attachment: fixed;
    background-image: url(images/forest-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 20px #ffe600;
    color: #1d1d1d;
    font-family: "Stack Sans Notch", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    font-size: 1.5rem;
    font-weight: 400;
}

.description {
    font-size: 1rem;
    font-weight: 100;
}

.page-border {
    pointer-events: none;
    position: fixed;
    inset: 0;
    border: 10px solid #ffe600;
    z-index: 9999;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px; 
    background: #ffe600; 
    color: #1d1d1d; 
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe600;
}

.logo {
    font-size: 1rem;
    font-weight: 400;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;

}

.main-nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 2s ease-in-out;
}

.main-nav ul li:hover ul {
    display: block;
    border-radius: 15px;
}

.main-nav ul li::before ul {
    display:block;
    content:'';
    height:20px;
}

.main-nav ul li ul li {
    display: block;
    padding: 1rem;
}

.main-nav a {
    font-size: .75rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.index-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.intro-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 5rem;
    background-color: #ffe600;
    padding: 2rem;
    border-radius: 15px;
}

.intro-overview.hero {
    display: flex;
    background-color: #ffe600;
    padding: 2rem;
    border-radius: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 10rem;
    max-width: 1000px;
    margin-top: 5rem;
}

.intro-overview-image-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 5rem;

}

.intro-overview-image-container img {
    border-radius: 500px;
    width: 300px;
    height: 300px;
}


.intro-video-section {
    display: flex;
    border-radius: 20px;
    background-image: url(images/san-vicente-background.png);
    flex-grow: 1;
    padding: 5rem;
    margin-bottom: 15rem;
    background-position: center;
    background-size: cover;
    justify-content: center;
    max-width: 800px;
    max-height: 600px;
}

.header.intro {
    font-size: 2rem;
}

.description.intro {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
}

.intro-video-container video {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    border-radius: 15px;
}

.intro-technical-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    margin: 5rem;
}

.technical-skills-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 1200px;
}

.technical-skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #EFEFEF;
    margin-left: 1.5rem;
    width: 150px;
    height: 120px;
}


.technical-skill-box img {
    width: 100px;
    height: 100px;
}

.technical-skill-box.autocad img {
    width: 100px;
    height: 60px;
}

.technical-skill-box.matlab img {
    width: 65px;
    height: 65px;
}

.technical-skill-box.onshape img {
    width: 100px;
    height: 25px;
}

.technical-skill-box.html img {
    width: 50px;
    height: 50px;
}

.technical-skill-box.c img {
    width: 80px;
    height: 80px;
}

.intro-projects-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 6rem;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #bebebe;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 100%;
    background-color: #ffe600;
}

.project-container:hover {
    transform: translateY(-10px);
}

.project-image-container {
    aspect-ratio: 4 / 3; 

    /* Add this to make the rounded corners crop the image */
    overflow: hidden; 
    
    /* Keep this as a background for images that are slow to load */
    background-color: #e2dfdf; 

    border-radius: 20px 20px 0px 0px;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-overview {
    padding-left: 1.5rem;
}

.header.contact {
    margin-top: 5rem;
}

.contact-links {
    display: flex;
    flex-direction: row;
}

.description.contact {
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .intro-projects-overview {
        grid-template-columns: 1fr;
    }
}