<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>
<main class="index-container">
    <!-- positioned to the left -->
    <!-- photo and mini summary. hey im nathan, a motivated researcher, student, etc. -->
    <div class="intro-overview">
        <!-- left aligned -->
        <div class="intro-photo-container">
            <img src="path/to/image" alt="picture"/>
        </div>
        <div class="intro-section-description">
            <h1 class="header intro">Hey, I'm Nathan</h1>
            <p class="description intro-text">
                I am a Mechanical Engineer who excels at research, design, and creativity across digital and physical touchpoints.
            </p>
        </div>
    </div>

    <div class="intro-video-section">
        <div class="intro-video-container">
            <video>
                <source src="path/to/video" type="video/type">
            </video>
        </div>
    </div>

    <div class="intro-technical-skills">
        <p class="description technical">
            Here are some of my technical skills
        </p>
        <div class="technical-skills-container">
            <div class="technical-skill">
                <!-- might have to be a image container so the logos are preserved. not sure -->
            </div>
        </div>
    </div>

    <div class="intro-projects-overview">

        <div class="project-container">
            <div class="project-image-container">
                <img src="path/to/image" alt="project image"/>
            </div>

            <div class="project-overview">
                <h1 class="header project">Project Title</h1>
                <p class="description project-text">
                    Topics covered/areas explored
                </p>
            </div>
        </div>

        <div class="project-container">
            <div class="project-image-container">
                <img src="path/to/image" alt="project image"/>
            </div>

            <div class="project-overview">
                <h1 class="header project">Project Title</h1>
                <p class="description project-text">
                    Topics covered/areas explored
                </p>
            </div>
        </div>

        <div class="project-container">
            <div class="project-image-container">
                <img src="path/to/image" alt="project image"/>
            </div>

            <div class="project-overview">
                <h1 class="header project">Project Title</h1>
                <p class="description project-text">
                    Topics covered/areas explored
                </p>
            </div>
        </div>

        <div class="project-container">
            <div class="project-image-container">
                <img src="path/to/image" alt="project image"/>
            </div>

            <div class="project-overview">
                <h1 class="header project">Project Title</h1>
                <p class="description project-text">
                    Topics covered/areas explored
                </p>
            </div>
        </div>
        
    </div>
</main>
</html>